<!DOCTYPE html>
<html>
    <head>
        <title>Main Blog Page</title>
        <style type="text/css">
            .error {
                color: red;
            }
            h1 {
                text-align:center;
            }
            .textarea {
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <h2>
            <a href="/">Main Blog Page</a>
            <a href="/newpost">Add a Blog Entry</a>
            <a href="/blog">Build a Blog</a>
        </h2>

        {% block content %}
        {% endblock %}

    </body>
</html>