{% extends 'base.html' %}

{% block content %}

<h2>Add a Blog Entry:</h2>
<div>
<form method="POST" action="/newpost" >
    <label>
        Title for your new blog: <br>
        <input type="text" name="title" />
    </label>
    <p class="error">{{title_error}}</p>
</div>
<div>
    <label>
        Your Blog entry: <br>
        <input type="textarea" name="content" class="textarea" />
    </label>
    <p class="error">{{body_error}}</p>
</div>
    <input type="submit" value="Add Entry">
</form>


{% endblock %}